<section class="about about--page">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__offer">
        <h2 class="about__title section-title">О компании</h2>

        <div class="about__text">
          <p>
            ООО «Мобэкс» с 2015 года производит и монтирует печатную продукцию и
            презентационное оборудование, необходимые для оформления различных
            мероприятий. Готовы оперативно изготовить все вышеперечисленное в
            соответствии с вашими макетами и проектами, а в качестве
            альтернативы для экономии средств и времени можем предложить уже
            опробованные готовые решения. Помимо изготовления печатной и
            выставочной продукции оказываем услуги по монтажу, что позволяет
            заказчику получить в результате высокое качество, безопасность и
            надежность конструкции, а при необходимости – сервисное обслуживание
            и услуги демонтажа.
          </p>
        </div>

        <ul class="about__list">
          <li class="about__item about__item--creativity">
            креативный подход к реализации стандартных заказов
          </li>
          <li class="about__item about__item--decision-making">
            экономичные решения без утраты функциональности и долговечности
            изделий
          </li>
          <li class="about__item about__item--calendar">
            возможность получения заказа в день обращения или на следующий
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="about__preview">
    <img src="images/content/about/bg-2.jpg" alt="Про нас" />
  </div>
</section>
