<section class="blog-new">
  <div class="container">
    <div class="blog-new__top">
      <h2 class="blog-new__title section-title">Новое в блоге</h2>

      <a class="blog-new__btn btn btn--arrow" href="#">В БЛОГ</a>
    </div>

    <ul class="blog-new__list">
      <li class="blog-new__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img
              src="images/content/blog/1.jpg"
              alt="Монтаж и демонтаж печатной продукции"
            />
          </div>

          <div class="blog-card__time">
            <span>17.02.2022</span>|<span>15:00</span>
          </div>
          <h3 class="blog-card__title">
            <a href="#">Монтаж и демонтаж печатной продукции </a>
          </h3>
        </article>
      </li>
      <li class="blog-new__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img
              src="images/content/blog/2.jpg"
              alt="Монтаж и демонтаж печатной продукции"
            />
          </div>

          <div class="blog-card__time">
            <span>17.02.2022</span> | <span>15:00</span>
          </div>
          <h3 class="blog-card__title">
            <a href="#">Монтаж и демонтаж печатной продукции </a>
          </h3>
        </article>
      </li>
      <li class="blog-new__item">
        <article class="blog-card">
          <div class="blog-card__img">
            <img
              src="images/content/blog/3.jpg"
              alt="Монтаж и демонтаж печатной продукции"
            />
          </div>

          <div class="blog-card__time">
            <span>17.02.2022</span>|<span>15:00</span>
          </div>
          <h3 class="blog-card__title">
            <a href="#">Монтаж и демонтаж печатной продукции </a>
          </h3>
        </article>
      </li>
    </ul>
  </div>
</section>
