<section class="blog">
  <div class="container">
    <div class="blog__top">
      <h2 class="blog__title section-title">Блог</h2>

      <div class="blog__btns">
        <span class="blog__text">Сортировать:</span>
        <button class="blog__btn blog__btn--active">По умолчанию</button>
        <button class="blog__btn">По дате</button>
      </div>
    </div>

    <div class="blog__content">
      <ul class="blog__list">
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__img">
              <img
                src="images/content/blog/1.jpg"
                alt="Монтаж и демонтаж печатной продукции"
              />
            </div>

            <div class="blog-card__time">
              <span>17.02.2022</span> | <span>15:00</span>
            </div>
            <h3 class="blog-card__title">
              <a href="#"> Монтаж и демонтаж печатной продукции </a>
            </h3>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__img">
              <img
                src="images/content/blog/2.jpg"
                alt="Монтаж и демонтаж печатной продукции"
              />
            </div>

            <div class="blog-card__time">
              <span>17.02.2022</span> | <span>15:00</span>
            </div>
            <h3 class="blog-card__title">
              <a href="#"> Монтаж и демонтаж печатной продукции </a>
            </h3>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__img">
              <img
                src="images/content/blog/3.jpg"
                alt="Монтаж и демонтаж печатной продукции"
              />
            </div>

            <div class="blog-card__time">
              <span>17.02.2022</span> | <span>15:00</span>
            </div>
            <h3 class="blog-card__title">
              <a href="#"> Монтаж и демонтаж печатной продукции </a>
            </h3>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__img">
              <img
                src="images/content/blog/1.jpg"
                alt="Монтаж и демонтаж печатной продукции"
              />
            </div>

            <div class="blog-card__time">
              <span>17.02.2022</span> | <span>15:00</span>
            </div>
            <h3 class="blog-card__title">
              <a href="#"> Монтаж и демонтаж печатной продукции </a>
            </h3>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__img">
              <img
                src="images/content/blog/2.jpg"
                alt="Монтаж и демонтаж печатной продукции"
              />
            </div>

            <div class="blog-card__time">
              <span>17.02.2022</span> | <span>15:00</span>
            </div>
            <h3 class="blog-card__title">
              <a href="#"> Монтаж и демонтаж печатной продукции </a>
            </h3>
          </article>
        </li>
        <li class="blog__item">
          <article class="blog-card">
            <div class="blog-card__img">
              <img
                src="images/content/blog/3.jpg"
                alt="Монтаж и демонтаж печатной продукции"
              />
            </div>

            <div class="blog-card__time">
              <span>17.02.2022</span> | <span>15:00</span>
            </div>
            <h3 class="blog-card__title">
              <a href="#"> Монтаж и демонтаж печатной продукции </a>
            </h3>
          </article>
        </li>
      </ul>

      <div class="blog__bottom">
        <div class="blog__pagination pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#"
                >1</a
              >
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">4</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">5</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link pagination__link--further" href="#"
                >Далеее</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
