<section class="catalog" id="catalog">
  <div class="container">
    <div class="catalog__top">
      <h2 class="catalog__title section-title">
        <span>Каталог</span> продукции
      </h2>
      <div class="catalog__text">
        <p>
          Заказать изготовление пресс-волов, указателей, ролл апов и ростовых
          фигур можно по эскизам и макетам, предоставленным клиентами, либо
          воспользоваться готовыми предложениями. Для получения уникального
          изделия возможно индивидуальное проектирование.
        </p>
      </div>

      <a class="catalog__btn btn btn--light btn--arrow" href="#">
        Вся продукция
      </a>
    </div>

    <div class="catalog__slider swiper">
      <ul class="catalog__slides swiper-wrapper">
        <li class="catalog__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="images/content/products/1.jpg" alt="Фотозона" />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">
                Фотозона "Вверх ногами" <span>или "Перевертышь"</span>
              </h3>
              <div class="product-card__price">64 650 руб.</div>

              <div class="product-card__btns">
                <button class="product-card__btn" type="button">
                  Заказать
                </button>
                <a class="product-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="images/content/products/2.jpg" alt="БРЕНД-ВОЛЛ" />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">
                БРЕНД-ВОЛЛ 2х3м в аренду <span>(однотрубный)</span>
              </h3>
              <div class="product-card__price">4 640 руб.</div>

              <div class="product-card__btns">
                <button class="product-card__btn" type="button">
                  Заказать
                </button>
                <a class="product-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="images/content/products/3.jpg" alt="Фотозона" />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">
                Фотозона для буллеттайм<span>(угловая)</span>
              </h3>
              <div class="product-card__price">27 900 руб.</div>

              <div class="product-card__btns">
                <button class="product-card__btn" type="button">
                  Заказать
                </button>
                <a class="product-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="images/content/products/4.jpg" alt="Фотозона" />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">
                Фотозона "Космос"
                <span>300х300х200 см</span>
              </h3>
              <div class="product-card__price">64 650 руб.</div>

              <div class="product-card__btns">
                <button class="product-card__btn" type="button">
                  Заказать
                </button>
                <a class="product-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="images/content/products/1.jpg" alt="Фотозона" />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">
                Фотозона "Вверх ногами" <span>или "Перевертышь"</span>
              </h3>
              <div class="product-card__price">64 650 руб.</div>

              <div class="product-card__btns">
                <button class="product-card__btn" type="button">
                  Заказать
                </button>
                <a class="product-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="images/content/products/2.jpg" alt="БРЕНД-ВОЛЛ" />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">
                БРЕНД-ВОЛЛ 2х3м в аренду <span>(однотрубный)</span>
              </h3>
              <div class="product-card__price">4 640 руб.</div>

              <div class="product-card__btns">
                <button class="product-card__btn" type="button">
                  Заказать
                </button>
                <a class="product-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="images/content/products/3.jpg" alt="Фотозона" />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">
                Фотозона для буллеттайм<span>(угловая)</span>
              </h3>
              <div class="product-card__price">27 900 руб.</div>

              <div class="product-card__btns">
                <button class="product-card__btn" type="button">
                  Заказать
                </button>
                <a class="product-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </article>
        </li>
        <li class="catalog__slide swiper-slide">
          <article class="product-card">
            <div class="product-card__img">
              <img src="images/content/products/4.jpg" alt="Фотозона" />
            </div>
            <div class="product-card__info">
              <h3 class="product-card__title">
                Фотозона "Космос"
                <span>300х300х200 см</span>
              </h3>
              <div class="product-card__price">64 650 руб.</div>

              <div class="product-card__btns">
                <button class="product-card__btn" type="button">
                  Заказать
                </button>
                <a class="product-card__link" href="#">Подробнее</a>
              </div>
            </div>
          </article>
        </li>
      </ul>

      <button class="swiper-button-next" aria-label="Следующий"></button>
      <button class="swiper-button-prev" aria-label="Предыдущий"></button>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
