<section class="project">
  <div class="container">
    <h1 class="project__title section-title">Стенд IBM</h1>

    <div class="project__wrapper">
      <div class="project__left">
        <div class="project__preview">
          <img src="images/content/projects/1.jpg" alt="Стенд IBM" />
        </div>

        <button class="project__btn btn" type="button">
          У меня похожий проект
        </button>
      </div>

      <div class="project__right">
        <div class="project__text">
          <p>
            Сотрудничество с корпорацией IBM – одним из лидеров мирового рынка
            технических инноваций – было давней мечтой команды Mobex. Ведь
            цифровые технологии так прочно вошли в нашу жизнь, что сейчас уже
            трудно представить, как же раньше люди обходились без них.
          </p>

          <p>
            Практически в любой отрасли экономики в наше время активно
            внедряются и применяются новейшие научно-технические разработки, и
            нефтегазовая промышленность – не исключение. IBM активно
            взаимодействует с крупнейшими предприятиями этой сферы, выводя их на
            новый уровень и предлагая самые передовые решения.
          </p>

          <p>
            По заказу компании IBM сотрудники Mobex изготовили для
            специализированной конференции выставочный стенд размером 300*600 мм
            с арендой телевизора. Этот стенд является многофункциональной
            рекламной конструкцией. Его отличительная особенность -
            вмонтированный экран, на котором можно демонстрировать тематические
            видеоролики, красочные слайды или рекламные сюжеты.
          </p>

          <p>
            Усиленная эргономичная конструкция обеспечивает устойчивость изделия
            и удобство его эксплуатации. В оформлении стенда использована
            корпоративная символика IBM, фирменный слоган и оригинальные
            цветовые решения. Форма стенда напоминает открытую книгу, что
            символизирует тягу к новым знаниям и мощный интеллектуальный
            потенциал. Пол из черного полистирола, напоминающий водную гладь
            озера, подчеркнул индивидуальность конструкции.
          </p>

          <p>
            Также для мероприятия были сделаны две стойки ресепшен с подсветкой.
          </p>

          <p>
            Если Вас заинтересовал стенд, изготовленный и смонтированный
            специалистами Mobex для корпорации IBM, и Вы хотите заказать
            подобную конструкцию для успешного продвижения своего бизнеса -
            смело обращайтесь к нашим консультантам.
          </p>

          <p>Двигайтесь в будущее семимильными шагами вместе с Mobex!</p>
        </div>
      </div>
    </div>
  </div>
</section>
