<section class="descr-service">
  <div class="container">
    <div class="descr-service__top">
      <div class="descr-service__side">
        <div class="descr-service__side side">
          <div class="side__top">
            <h3 class="side__title">Услуги</h3>
          </div>
          <ul class="side__list">
            <li class="side__item">
              <a class="side__link side__link--active" href="#"
                >Печать наклеек</a
              >
            </li>
            <li class="side__item">
              <a class="side__link" href="#">Резка наклеек по контуру</a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">Сварочные работы</a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">Печать баннера</a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">Фрезерная резка</a>
            </li>
            <li class="side__item">
              <a class="side__link" href="#">Монтаж</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="descr-service__right">
        <div class="descr-service__head">
          <h2 class="descr-service__title section-title">Печать наклеек</h2>

          <button class="descr-service__btn btn" type="button">
            Заказать услугу
          </button>
        </div>

        <div class="descr-service__img">
          <img src="images/content/descr-service-bg.jpg" alt="Печать наклеек" />
        </div>
      </div>
    </div>
    <div class="descr-service__bottom">
      <div class="descr-service__text">
        <p>
          Важность типографии в современном мире определенно ясна и понятна.
          Печать наклеек на пленке требуется повсеместно. Результат этой услуги
          встречается в повседневной жизни каждого человека и помогает
          сориентироваться миллионам людей в мегаполисах. Мы сталкиваемся с
          интерьерной печатью в каждом торговом помещении, офисе, ТРЦ или
          ресторане. Благодаря данной продукции формируются уникальные решения.
        </p>

        <p>
          На самом деле, изготовление подобной продукции необходимо для
          обозначения множества определений. Наклейки с разнообразными символами
          нужны для последующих объектов:
        </p>
      </div>

      <ul class="descr-service__list">
        <li class="descr-service__item">• транспортные средства;</li>
        <li class="descr-service__item">• матирование офисных перегородок;</li>
        <li class="descr-service__item">• частные фирмы;</li>
        <li class="descr-service__item">• выставки, презентации, форумы;</li>
        <li class="descr-service__item">
          • оформление мероприятий различного характера.
        </li>
      </ul>

      <div class="descr-service__text">
        <p>
          Ваша цель – организовать максимально комфортное и стильное
          пространство. Наша задача – обеспечить вас необходимой атрибутикой в
          срок. Поэтому, печать наклеек на самоклеющейся пленке у нас, будет
          лучшим решением по нескольким причинам.
        </p>
      </div>
    </div>
  </div>
</section>
