<section
  class="discount"
  style="background-image: url('images/content/discount-bg.png')"
>
  <div class="container">
    <div class="discount__offer">
      <h2 class="discount__title section-title">Скидка на первый заказ</h2>
      <div class="discount__text">
        <p>
          Оставьте заявку сейчас и получите скидку 10% на покупку готовой
          рекламной продукции из нашего каталога
        </p>
      </div>

      <button class="discount__btn btn" type="button">Оставить заявку</button>
    </div>
  </div>
</section>
