<section class="hero">
  <div class="hero__slider swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <div class="container">
          <div class="hero__wrapper">
            <div class="hero__offer">
              <h2 class="hero__title section-title">
                Производство <span>и продажа готовой</span> рекамной продукции
              </h2>
              <div class="hero__text">
                <p>Печать и монтаж в Москве в день обращения</p>
              </div>

              <a class="hero__btn btn" href="#catalog">Смотреть продукцию</a>
            </div>

            <div
              class="hero__preview"
              style="background-image: url('images/content/hero-slider/slide-1.png')"
            ></div>
          </div>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="container">
          <div class="hero__wrapper">
            <div class="hero__offer">
              <h2 class="hero__title section-title">
                Производство <span>и продажа готовой</span> рекамной продукции
              </h2>
              <div class="hero__text">
                <p>Печать и монтаж в Москве в день обращения</p>
              </div>

              <a class="hero__btn btn" href="#catalog">Смотреть продукцию</a>
            </div>

            <div
              class="hero__preview"
              style="background-image: url('images/content/hero-slider/slide-2.png')"
            ></div>
          </div>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="container">
          <div class="hero__wrapper">
            <div class="hero__offer">
              <h2 class="hero__title section-title">
                Производство <span>и продажа готовой</span> рекамной продукции
              </h2>
              <div class="hero__text">
                <p>Печать и монтаж в Москве в день обращения</p>
              </div>

              <a class="hero__btn btn" href="#catalog">Смотреть продукцию</a>
            </div>

            <div
              class="hero__preview"
              style="background-image: url('images/content/hero-slider/slide-3.png')"
            ></div>
          </div>
        </div>
      </li>
    </ul>

    <div class="container">
      <div class="arrows">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
