<section class="news">
  <div class="container">
    <div class="news__top">
      <h2 class="news__title section-title">Новости компании</h2>

      <div class="news__btns">
        <span class="news__text">Сортировать:</span>
        <button class="news__btn news__btn--active">По умолчанию</button>
        <button class="news__btn">По дате</button>
      </div>
    </div>

    <div class="news__content">
      <ul class="news__list">
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__img">
              <img src="images/content/news/1.jpg" alt="Первая благодраность" />
            </div>

            <div class="news-card__time">
              <span>29 Октября 2018</span>
            </div>
            <h3 class="news-card__title">
              <a href="#"
                >Первая благодраность – <span> самая ценная!</span>
              </a>
            </h3>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__img">
              <img src="images/content/news/2.jpg" alt="Первая благодраность" />
            </div>

            <div class="news-card__time">
              <span>29 Октября 2018</span>
            </div>
            <h3 class="news-card__title">
              <a href="#"
                >Первая благодраность – <span> самая ценная!</span>
              </a>
            </h3>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__img">
              <img src="images/content/news/3.jpg" alt="Первая благодраность" />
            </div>

            <div class="news-card__time">
              <span>29 Октября 2018</span>
            </div>
            <h3 class="news-card__title">
              <a href="#"
                >Первая благодраность – <span> самая ценная!</span>
              </a>
            </h3>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__img">
              <img src="images/content/news/1.jpg" alt="Первая благодраность" />
            </div>

            <div class="news-card__time">
              <span>29 Октября 2018</span>
            </div>
            <h3 class="news-card__title">
              <a href="#"
                >Первая благодраность – <span> самая ценная!</span>
              </a>
            </h3>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__img">
              <img src="images/content/news/2.jpg" alt="Первая благодраность" />
            </div>

            <div class="news-card__time">
              <span>29 Октября 2018</span>
            </div>
            <h3 class="news-card__title">
              <a href="#"
                >Первая благодраность – <span> самая ценная!</span>
              </a>
            </h3>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__img">
              <img src="images/content/news/3.jpg" alt="Первая благодраность" />
            </div>

            <div class="news-card__time">
              <span>29 Октября 2018</span>
            </div>
            <h3 class="news-card__title">
              <a href="#"
                >Первая благодраность – <span> самая ценная!</span>
              </a>
            </h3>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__img">
              <img src="images/content/news/1.jpg" alt="Первая благодраность" />
            </div>

            <div class="news-card__time">
              <span>29 Октября 2018</span>
            </div>
            <h3 class="news-card__title">
              <a href="#"
                >Первая благодраность – <span> самая ценная!</span>
              </a>
            </h3>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__img">
              <img src="images/content/news/2.jpg" alt="Первая благодраность" />
            </div>

            <div class="news-card__time">
              <span>29 Октября 2018</span>
            </div>
            <h3 class="news-card__title">
              <a href="#"
                >Первая благодраность – <span> самая ценная!</span>
              </a>
            </h3>
          </article>
        </li>
        <li class="news__item">
          <article class="news-card">
            <div class="news-card__img">
              <img src="images/content/news/3.jpg" alt="Первая благодраность" />
            </div>

            <div class="news-card__time">
              <span>29 Октября 2018</span>
            </div>
            <h3 class="news-card__title">
              <a href="#"
                >Первая благодраность – <span> самая ценная!</span>
              </a>
            </h3>
          </article>
        </li>
      </ul>

      <div class="news__bottom">
        <div class="news__pagination pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#"
                >1</a
              >
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">4</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">5</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link pagination__link--further" href="#"
                >Далеее</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
