<section class="payment-service">
  <div class="container">
    <h2 class="payment-service__title section-title">
      Стоимость услуги “печать наклеек”
    </h2>

    <div class="payment-service__content">
      <ul class="payment-service__list">
        <li class="payment-service__item payment-service__item--head">
          <div class="payment-service__name">Интерьерная печать 1440dpi</div>
          <div class="payment-service__measurement">Ед.изм</div>
          <div class="payment-service__price">Стоимость</div>
        </li>
        <li class="payment-service__item">
          <div class="payment-service__name">Баннер ламинированный (Китай)</div>
          <div class="payment-service__measurement">м<sup>2</sup></div>
          <div class="payment-service__price"><span>500</span> руб.</div>
          <a class="payment-service__link" href="#">Заказать</a>
        </li>
        <li class="payment-service__item">
          <div class="payment-service__name">Баннер Литой (Европа)</div>
          <div class="payment-service__measurement">м<sup>2</sup></div>
          <div class="payment-service__price"><span>600</span> руб.</div>
          <a class="payment-service__link" href="#">Заказать</a>
        </li>
        <li class="payment-service__item">
          <div class="payment-service__name">Печать на пленке (самоклейка)</div>
          <div class="payment-service__measurement">м<sup>2</sup></div>
          <div class="payment-service__price"><span>650</span> руб.</div>
          <a class="payment-service__link" href="#">Заказать</a>
        </li>
        <li class="payment-service__item">
          <div class="payment-service__name">Бэклит ПЭТ</div>
          <div class="payment-service__measurement">м<sup>2</sup></div>
          <div class="payment-service__price"><span>1000</span> руб.</div>
          <a class="payment-service__link" href="#">Заказать</a>
        </li>
        <li class="payment-service__item">
          <div class="payment-service__name">Бумага мелованная</div>
          <div class="payment-service__measurement">м<sup>2</sup></div>
          <div class="payment-service__price"><span>600</span> руб.</div>
          <a class="payment-service__link" href="#">Заказать</a>
        </li>
        <li class="payment-service__item">
          <div class="payment-service__name">Фотобумага</div>
          <div class="payment-service__measurement">м<sup>2</sup></div>
          <div class="payment-service__price"><span>700</span> руб.</div>
          <a class="payment-service__link" href="#">Заказать</a>
        </li>
        <li class="payment-service__item">
          <div class="payment-service__name">Прямая печать на ПВХ 3мм</div>
          <div class="payment-service__measurement">м<sup>2</sup></div>
          <div class="payment-service__price"><span>1600</span> руб.</div>
          <a class="payment-service__link" href="#">Заказать</a>
        </li>
        <li class="payment-service__item">
          <div class="payment-service__name">Прямая печать на ПВХ 5мм</div>
          <div class="payment-service__measurement">м<sup>2</sup></div>
          <div class="payment-service__price"><span>2000</span> руб.</div>
          <a class="payment-service__link" href="#">Заказать</a>
        </li>
        <li class="payment-service__item">
          <div class="payment-service__name">ПВХ 3мм с накаткой пленки</div>
          <div class="payment-service__measurement">м<sup>2</sup></div>
          <div class="payment-service__price"><span>1900</span> руб.</div>
          <a class="payment-service__link" href="#">Заказать</a>
        </li>
        <li class="payment-service__item">
          <div class="payment-service__name">ПВХ 5мм с накаткой пленки</div>
          <div class="payment-service__measurement">м<sup>2</sup></div>
          <div class="payment-service__price"><span>2300</span> руб.</div>
          <a class="payment-service__link" href="#">Заказать</a>
        </li>
      </ul>
    </div>
  </div>
</section>
