<section class="projects">
  <div class="container">
    <div class="projects__top">
      <h2 class="projects__title section-title">Проекты</h2>
      <div class="projects__text">
        <p>
          Для нашего производства оформление мероприятия под ключ основное
          направление. Благодаря собственному производству, мы своими силами
          можем реализовать любые задумки клиента, а самое главное в короткие
          сроки.
        </p>
      </div>
    </div>
    <div class="projects__content">
      <ul class="projects__list">
        <li class="projects__item">
          <article
            class="project-card"
            style="background-image: url('images/content/projects/1.png')"
          >
            <div class="project-card__offer">
              <h3 class="project-card__title">Стенд IBM</h3>
              <div class="project-card__text">
                <p>
                  Сотрудничество с корпорацией IBM – одним из лидеров мирового
                  рынка технических инноваций – было давней мечтой команды
                  Mobex.
                </p>
              </div>
              <a class="project-card__link" href="#">смотреть</a>
            </div>
          </article>
        </li>
        <li class="projects__item">
          <article
            class="project-card"
            style="background-image: url('images/content/projects/2.png')"
          >
            <div class="project-card__offer">
              <h3 class="project-card__title">Распродажа</h3>
              <div class="project-card__text">
                <p>
                  Несколько лет назад руководство компании Mobex решило рискнуть
                  и запустило новый сервис – отправку готовых изделий в
                  отдаленные от столицы населенные пункты.
                </p>
              </div>
              <a class="project-card__link" href="#">смотреть</a>
            </div>
          </article>
        </li>
        <li class="projects__item">
          <article
            class="project-card"
            style="background-image: url('images/content/projects/3.png')"
          >
            <div class="project-card__offer">
              <h3 class="project-card__title">Умный дом Триколор</h3>
              <div class="project-card__text">
                <p>
                  Компания Mobex всегда идет в ногу со временем. Мы активно
                  приветствуем внедрение в повседневную жизнь достижений
                  технического прогресса.
                </p>
              </div>
              <a class="project-card__link" href="#">смотреть</a>
            </div>
          </article>
        </li>
        <li class="projects__item">
          <article
            class="project-card"
            style="background-image: url('images/content/projects/4.png')"
          >
            <div class="project-card__offer">
              <h3 class="project-card__title">Бьютиленд</h3>
              <div class="project-card__text">
                <p>
                  Торговая сеть Л’Этуаль – один из лидеров на российском рынке
                  парфюмерно-косметической продукции - является постоянным
                  партнером компании Mobex.
                </p>
              </div>
              <a class="project-card__link" href="#">смотреть</a>
            </div>
          </article>
        </li>
        <li class="projects__item">
          <article
            class="project-card"
            style="background-image: url('images/content/projects/5.png')"
          >
            <div class="project-card__offer">
              <h3 class="project-card__title">Бакуган</h3>
              <div class="project-card__text">
                <p>
                  В связи с выходом новой серии знаменитого анимационного фильма
                  про роботов «Бакуган», покорившего любителей стиля фэнтези по
                  всему миру, компания Mobex получила заказ на изготовление
                  мобильной фотозоны с телевизором.
                </p>
              </div>
              <a class="project-card__link" href="#">смотреть</a>
            </div>
          </article>
        </li>
        <li class="projects__item">
          <article
            class="project-card"
            style="background-image: url('images/content/projects/6.png')"
          >
            <div class="project-card__offer">
              <h3 class="project-card__title">
                Мероприятие для Авито в тематике JAZZ
              </h3>
              <div class="project-card__text">
                <p>
                  Мы бьем рекорды.- 2 объёмные ростовые фигуры высотой 250 см и
                  глубиной 40см.
                </p>
              </div>
              <a class="project-card__link" href="#">смотреть</a>
            </div>
          </article>
        </li>
      </ul>

      <div class="projects__bottom">
        <div class="blog__pagination pagination">
          <ul class="pagination__list">
            <li class="pagination__item">
              <a class="pagination__link pagination__link--active" href="#"
                >1</a
              >
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">3</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">4</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">5</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link pagination__link--further" href="#"
                >Далеее</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
