<section class="products">
  <div class="container">
    <div class="products__top">
      <h2 class="products__title section-title">Продукция</h2>

      <div class="products__text">
        <p>
          Пресс-волы, ролл-апы, ростовые фигуры, стойки и указатели по
          стандартным и индивидуально разработанным макетам. Оформление сцен и
          подиумов, залов и помещений для событий, мероприятий, выставок,
          презентаций.
        </p>
        <p>
          Быстрое и эффектное оформление помещений, в которых намечается
          проведение различных мероприятий возможно с помощью современных
          легких, мобильных и компактных в хранении конструкций, выполняемых на
          заказ компанией «Mobex».
        </p>
      </div>
    </div>

    <ul class="products__list">
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img src="images/content/productions/1.jpg" alt="Арки" />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Арки</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img src="images/content/productions/2.jpg" alt="Каше экрана" />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Каше экрана</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img
              src="images/content/productions/3.jpg"
              alt="Застройка стендов"
            />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Застройка стендов</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img src="images/content/productions/4.jpg" alt="Подиум" />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Подиум</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img src="images/content/productions/5.jpg" alt="Подиум" />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Пресс - вол</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img src="images/content/productions/6.jpg" alt="Подиум" />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Защитные экраны</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img
              src="images/content/productions/7.jpg"
              alt="Неон на мероприятие"
            />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Неон на мероприятие</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img
              src="images/content/productions/8.jpg"
              alt="Неон на мероприятие"
            />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Онлайн - студия</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img
              src="images/content/productions/9.jpg"
              alt="Неон на мероприятие"
            />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Фото - зона</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img
              src="images/content/productions/10.jpg"
              alt="Неон на мероприятие"
            />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Оформление сцен</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
      <li class="products__item">
        <article class="product-card product-card--productions">
          <div class="product-card__img">
            <img
              src="images/content/productions/11.jpg"
              alt="Неон на мероприятие"
            />
          </div>
          <div class="product-card__info">
            <h3 class="product-card__title">Ресепшен</h3>

            <a class="product-card__btn" href="#">Выбрать</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
