<section class="request request--bg">
  <div class="container">
    <div class="request__top">
      <h2 class="request__title section-title">Онлайн - заявка</h2>
      <div class="request__text">
        <p>
          Оставьте заявку и мы свяжемся с Вами в ближайшее время для уточнения
          деталей заказа
        </p>
      </div>
    </div>

    <div class="request__wrapper">
      <div class="request__preview">
        <img src="images/content/request-bg.png" alt="Лэтуаль" />
      </div>

      <form class="request__form form-submit">
        <select class="form-submit__select select">
          <option value="1">Выберите нужную продукцию</option>
          <option value="2">Выберите нужную продукцию</option>
          <option value="2">Выберите нужную продукцию</option>
        </select>

        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="text"
            placeholder="Ваше имя"
          />
        </label>
        <label class="form-submit__group">
          <input
            class="form-submit__input"
            type="tel"
            placeholder="Ваш телефон"
          />
        </label>
        <label class="form-submit__group">
          <textarea
            class="form-submit__input form-submit__input--textarea"
            placeholder="Комментарии к заказу"
          ></textarea>
        </label>

        <div class="form-submit__bottom">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" required />
            <span class="checkbox__box"></span>
            <span class="checkbox__text">
              Отправляя заявку я соглашаюсь на
              <a href="#"> обработку персоналных данных </a>
            </span>
          </label>

          <button class="form-submit__btn btn" type="submit">
            Отправить заявку
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
