<section class="services">
  <div class="container">
    <h2 class="services__title section-title">Услуги</h2>

    <div class="services__text">
      <p>
        Хотите получить оригинальный продукт, точно соответствующий духу и стилю
        мероприятия, техническим возможностям здания ил помещения? В компании
        «Mobex» готовы воплотить в жизнь любую креативную идею.
      </p>
      <p>
        Все реализованные компанией «Mobex» проекты находятся в открытом
        доступе. Выбрав любое из направлений работы, вы сможете ознакомиться с
        похожими проектами и получить полную информацию о материалах, стоимости,
        длительности исполнения, применяемых технологиях, а также возможности
        монтажа готового изделия на месте.
      </p>
    </div>

    <ul class="services__list">
      <li class="services__item">
        <div class="service-card">
          <div class="service-card__top">
            <div class="service-card__img">
              <svg width="48" height="48">
                <use xlink:href="images/sprite.svg#badge"></use>
              </svg>
            </div>
            <h3 class="service-card__title">
              Печать <span>наклеек</span>
            </h3>
          </div>
          <div class="service-card__info">
            <div class="service-card__text">
              <p>
                Важность типографии в современном мире определенно ясна и
                понятна. Печать наклеек на пленке требуется повсеместно.
                Результат этой услуги встречается в повседневной жизни каждого
                человека и помогает сориентироваться миллионам людей в
                мегаполисах.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="service-card">
          <div class="service-card__top">
            <div class="service-card__img">
              <svg width="40" height="40">
                <use xlink:href="images/sprite.svg#paper_cutter"></use>
              </svg>
            </div>
            <h3 class="service-card__title">
              Резка наклеек <span>по контуру</span>
            </h3>
          </div>
          <div class="service-card__info">
            <div class="service-card__text">
              <p>
                Используется для резки самоклейки с любым контурным резом, для
                последующего использования на: витринах, автомобилях, стендах
                и тд...
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="service-card">
          <div class="service-card__top">
            <div class="service-card__img">
              <svg width="40" height="40">
                <use xlink:href="images/sprite.svg#welding"></use>
              </svg>
            </div>
            <h3 class="service-card__title">Сварочные <span>работы</span></h3>
          </div>
          <div class="service-card__info">
            <div class="service-card__text">
              <p>
                Сварка основ и каркасов для стационарных и мобильных
                конструкций из металлических (стальных) профилей и труб.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="service-card">
          <div class="service-card__top">
            <div class="service-card__img">
              <svg width="40" height="40">
                <use xlink:href="images/sprite.svg#badge"></use>
              </svg>
            </div>
            <h3 class="service-card__title">
              Монтаж в любое <span>время суток</span>
            </h3>
          </div>
          <div class="service-card__info">
            <div class="service-card__text">
              <p>
                Выполняем монтажные работы круглосуточно и 7 дней в неделю.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="service-card">
          <div class="service-card__top">
            <div class="service-card__img">
              <svg width="40" height="40">
                <use xlink:href="images/sprite.svg#rollup"></use>
              </svg>
            </div>
            <h3 class="service-card__title">Печать <span>баннера</span></h3>
          </div>
          <div class="service-card__info">
            <div class="service-card__text">
              <p>
                Качество печати 360 dpi. Используется при изготовление:
                пресс-волла, задника для сцены, билборда, рауса сцены,
                растяжки...
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="service-card">
          <div class="service-card__top">
            <div class="service-card__img">
              <svg width="40" height="40">
                <use xlink:href="images/sprite.svg#laser"></use>
              </svg>
            </div>
            <h3 class="service-card__title">Фрезерная <span>резка</span></h3>
          </div>
          <div class="service-card__info">
            <div class="service-card__text">
              <p>
                В качестве рабочего материала используем ПВХ и МДФ листы,
                композит и оргстекло, ПЭТ и полистирол.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
